@use '../utils/placeholders';
@use '../utils/variables' as var;
@use '../utils/functions' as fn;
@use '../utils/mixins' as mx;

.footer {
  padding: 40px 20px 20px;
  background-color: fn.get-color('very-dark-basic');
  color: fn.get-color('white');
  @include mx.media-query('lg') {
    grid-area: footer;
    padding: 50px 60px 20px;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;

  @include mx.media-query('lg') {
    justify-content: space-between;
    flex-direction: row;
  }
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 18px;
  .icon {
    width: 24px;
    height: 24px;
    stroke: fn.get-color('white');
    fill: fn.get-color('white');
    transition: stroke 0.3s ease, fill 0.3s ease;
    &:hover,
    &:focus {
      stroke: fn.get-color('light-basic');
      fill: fn.get-color('light-basic');
    }
  }
  @include mx.media-query('lg') {
    justify-content: start;
  }
}

.footer-text {
  font-size: 28px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  @include mx.media-query('lg') {
    font-size: 34px;
    margin: 28px 0;
    justify-content: start;
  }
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  address a {
    color: fn.get-color('white');
  }

  h3 {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 14px;
  }
  @include mx.media-query('lg') {
    align-items: flex-start;
    text-align: left;
    h3 {
      margin-top: 0;
    }
  }
}

.footer-line {
  height: 1px;
  background-color: rgba($color: fn.get-color('white'), $alpha: 0.1);
  margin: 42px 0 24px;
}

.footer-navigation {
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  a {
    color: fn.get-color('white');
    transition: color 0.3s ease, background-color 0.3s ease;

    &:hover,
    &:focus {
      color: fn.get-color('dark-basic');
    }
  }

  @include mx.media-query('lg') {
    gap: 24px;
    justify-content: start;
  }
}
