@use '../utils/mixins' as mx;

.page {
  min-width: 375px;
  min-height: 100vh;

  @include mx.media-query('lg') {
    display: grid;
    grid-template-rows: 200px 1fr 270px;
    grid-template-areas:
      'header'
      'main'
      'footer';
  }
}
